$primary-color: #004080;
$secondary-color: #E85234;
$text-color: #ffffff;

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.arrow {
  background: none;
  border: none;
  color: $secondary-color;
  cursor: pointer;
  font-size: 1.5rem;

  &:hover {
    color: $secondary-color;
  }
}

.item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.4s;
  opacity: 1;
}

.item-exit {
  opacity: 0;
}

.indicators {
  position: absolute;
  left: 50%;
  bottom: 0rem;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: $text-color;
  opacity: 0.5;
  border: none;
  cursor: pointer;

  &.active {
    background: $secondary-color;
    opacity: 1;
  }
}