.idb-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.idb-main-content {
  flex: 1;
}

.idb-footer {
  margin-top: auto;
}

.idb-container {
  max-width: 1280px;
  margin: auto;
}

