$primary-color: #004080;
$secondary-color: #E85234;
.idb-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.idb-main-content {
  flex: 1;
}

.idb-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: $primary-color;
  padding-bottom: 1rem;
  letter-spacing: -0.5px;
  border-bottom: 1px solid #cfcfcf;
}

.idb-category-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: $primary-color;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
}

.idb-footer {
  margin-top: auto;
}

.idb-container {
  max-width: 1280px;
  margin: auto;
}

