
$secondary-color: #E85234;
$inactive-color: #b0b0b0;
$primary-color: #004080;



.idb-pagination__button:focus {
  outline: none;
  box-shadow: none;
  background-color: inherit;
  color: $secondary-color;
}

// Extra: por si algún botón de Bootstrap se cuela
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.idb-pagination {
  &__button {
    background: $primary-color;
    color: #fff;
    border-radius: 0.4rem;
    border: none;

    &:hover {
      scale: 1.05;
      background-color: #004080;
      cursor: pointer;
      color: #fff;
    }
    &--active,
    &[aria-current="page"] {
      background: $secondary-color;
      color: #fff;
    }
    &--arrow {
      color: $secondary-color;
      background: none;
      border: none;
      font-size: 1.5rem;
      font-weight: 700;
      &:hover {
        background: none;
        color: $secondary-color
      }
      &:disabled {
        color: $inactive-color;
      }
    }
  }
  &__ellipsis {
    color: $inactive-color;
    font-size: 1.1rem;
    background: none;
    &-text {
      font-weight: 600;
    }
  }
}
